@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@import "bootstrap/scss/bootstrap";

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(12, 12, 12);
    overflow-x: hidden;
}
ul{
    margin-bottom: 0;
    list-style: none;
}

figure{
    margin: 0;
}